<div class="container">
  <div class="jumbotron">

    <h1>Blocipedia</h1>
    <p>Welocme to Blocipedia! Blocipedia will allow you to create public and <em>private</em> Markdown-based wikis. With a premium account, you can even host your own private wikis and add unlimited collaborators to them.  Sign up for a standard (free) or premium account today!</p>
    <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
    </p>
     <p><small>After signing up, you can upgrade your account to a Premium Account or change your account details by visiting the "Edit Profile" link at the top of your screen.</small></p>
  </div>

</div>
